@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    min-height: 100vh;
}

/* ---===<Header>===--- */

<<<<<<< HEAD
.container-header{
=======
.container-header {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 10px 10px 20px rgb(74, 74, 74);
}

<<<<<<< HEAD
.cabecalho{
=======
.cabecalho {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  width: 100%;
  height: 17vh;
  background-color: #20cdff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

<<<<<<< HEAD
.cabecalho .container-cabecalho{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;  
  width: 100%;  
}

.cabecalho .container-cabecalho .icon-logo-card img
{
  width: 200px;
}

.cadastro{
=======
.cabecalho .container-cabecalho {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.cabecalho .container-cabecalho .icon-logo-card img {
  width: 200px;
}

.cadastro {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
.cadastro img{
  width: 30px;
}

.cadastro a{
=======
.cadastro img {
  width: 30px;
}

.cadastro a {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;
}

<<<<<<< HEAD
.cadastro a:hover{
=======
.cadastro a:hover {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  color: yellow;
  text-decoration: none;
}

<<<<<<< HEAD
.cadastro span{
=======
.cadastro span {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  padding: 15px;
  color: white;
  font-weight: bold;
}


<<<<<<< HEAD
.cabecalho .container-cabecalho .menu-pesquisa{
  width: 78vh;
  background-color:#0e9fc7;
=======
.cabecalho .container-cabecalho .menu-pesquisa {
  width: 60vh;
  background-color: #0e9fc7;
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
<<<<<<< HEAD
  
}

.cabecalho .container-cabecalho .menu-pesquisa input{
  padding: 5px;
  width: 94%;
  border: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cabecalho .container-cabecalho .menu-pesquisa i{
  padding: 5px;
  padding-right: 20px;
  padding-left: 10px;
}

.cabecalho .link-menu{
  width:100%;
=======

}

.cabecalho .container-cabecalho .menu-pesquisa input {
  padding: 5px;
  width: 85%;
  border: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 55px;
}

.cabecalho .container-cabecalho .menu-pesquisa i {
  padding: 5px;
  padding-right: 25px;
}

.cabecalho .link-menu {
  width: 100%;
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

<<<<<<< HEAD
.cabecalho .link-menu a{
=======
.cabecalho .link-menu a {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
<<<<<<< HEAD
  margin-top: 35px;
}

.cabecalho .link-menu a:hover{
  color: yellow;
}

.navMenu{
=======
  margin-top: 15px;
}

.cabecalho .link-menu a:hover {
  color: yellow;
}

.navMenu {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  font-weight: 400;
}

<<<<<<< HEAD
.categorias-container{
=======
.categorias-container {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

<<<<<<< HEAD
.car-fav{
  padding: 10px;
}
.car-fav i{
  padding: 10px;
  width: 40px;
  
}

.navMenu .cat-links a{
=======
.car-fav {
  padding: 10px;
}

.car-fav .fa-heart{
  color: black;
}

.car-fav i {
  padding: 10px;
  width: 40px;
}

.navMenu .cat-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navMenu .cat-links .link-nav-cat a {
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
  padding: 10px;
  height: 100%;
  color: black;
  transition: all 200ms ease-in-out;
}

<<<<<<< HEAD
.navMenu .cat-links a:hover{
  background-color:   rgb(229, 229, 229);
  text-decoration: none;
=======
.navMenu .cat-links .link-nav-cat a:hover {
  background-color: rgb(229, 229, 229);
  text-decoration: none;
}

.hamb-menu img {
  width: 35px;
  padding: 5px;
  display: none;
  margin-left: 10px;
}

/* Responsividade do cabeçalho */

@media (min-width: 768px) and (max-width: 1024px) {
  .cabecalho .container-cabecalho .icon-logo-card img {
    width: 160px;
  }

  .cabecalho .link-menu a{
    margin-top: 0px;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .cabecalho .container-cabecalho .icon-logo-card img {
    width: 150px;
  }

  .cabecalho .link-menu a{
    margin-top: -10px;
  }

  .navMenu .link-nav-cat{
    display: none;
  }

  .hamb-menu img{
    display: block;
  }
  
  .menu-pesquisa{
    width: 70vh;
  }

  .menu-pesquisa input{
    margin-right: 0px;
  }

  /* .cadastro img{
    width: 20px;
  }

  .cadastro a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
  }
  
  .cadastro a:hover {
    color: yellow;
    text-decoration: none;
  }
  
  .cadastro span {
    padding: 12px;
    color: white;
    font-weight: bold;
  } */
>>>>>>> c8e36d57c2f111c8c968e346e0530c24f77b13a0
}

.button-hover-background {
    
}

.button-addCart {
 border: none;
 background-color: transparent;
 padding: 5px;
}

.button-addCart:hover{
    background-color: transparent; 
}

.carousel {
  display: flex;
  overflow-x: auto;
}


.product-card {
  border: 1px solid #ccc;
  margin: 90px 20px;
  padding: 10px;
  text-align: center;
}

.product-card img {
  max-width: 100px;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  transition: right 0.3s ease;
}

.cart-sidebar h2 {
  margin-top: 260px;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-total {
  font-weight: bold;
  
}

.checkout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #0056b3;
}

/* ---===<contact>===--- */

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 250.8px;
  }
  
  .formulario {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(241, 240, 240);
  }
  
  .formImg img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .formTxt {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    height: 475px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .formulario .formTxt h2 {
    display: flex;
    justify-content: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(97, 97, 97);
  }
  
  .formTxt #lenviar {
    margin-top: 10px;
    border-radius: 17px;
    padding: 9px;
    border-color: rgb(224, 224, 224);
    border: rgb(155, 155, 155);
    color: rgb(0, 0, 0);
    background: white;
}

.formTxt #lenviar:hover {
    transition: 0.35s;
    border-color: #20cdff;
    background-color: #20cdff;
    background: #20cdff;
    color: rgb(255, 255, 255);
}
  
  .formTxt #lnome {
    border-radius: 17px;
    border-color: rgb(184, 184, 184);
    padding: 8px;
  }
  
  .formTxt #lemail {
    border-radius: 17px;
    border-color: rgb(184, 184, 184);
    padding: 8px;
  }

  .formTxt #lcomentario {
    border-radius: 17px;
    border-color: rgb(184, 184, 184);
    padding: 8px;
}

.formTxt .socialMediaIcons {
    display: flex;
    align-content: flex-end;
}

.socialMediaIcons {
    display: flex;
    justify-content: space-evenly;
}

/* ---===<Footer>===--- */

footer{
  font-family: 'Inter', sans-serif;
  width: 100%;
  letter-spacing: 1px;
  color: #f5f5f5;
  margin-top: 5%;
}

#footer_content{
  background-color: #171717;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h2{
  margin-bottom: 0.75rem;
}

#footer_social_media{
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #f5f5f5;
  border-radius: 50%;
  transition: all 0.4s;
}

#instagram{
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
  background-color: #4267b3;
}

#twitter{
  background-color: #3E8AFF;
}

.footer-link{
  text-decoration: none;
}

#footer_social_media .footer-link:hover{
  opacity: 0.8;
  text-decoration: none;
}
#footer_social_media .footer-link i{
  font-size: 1.2rem;
}
.footer-list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}
.footer-list .footer-link{
  color: #a8a29e;
  transition: all 0.4s;
}
.footer-list .footer-link:hover{
  color: #00ccff;
  text-decoration: none;
}
#footer_subscribe{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#footer_subscribe p{
  color: #a8a29e;
}

#input_group{
  display: flex;
  align-items: center;
  background-color: 4px;
  border-radius: 4px;
}
#input_group input{
  padding: 0.75rem;
  width: 100%;
}
#input_group button{
  background-color: #00ccff;
  border: none;
  color: #f5f5f5;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group:hover{
  opacity: 0.8s;
  text-decoration: none;
}

#footer_copyright{
  display: flex;
  justify-content: center;
  background-color: #0e0c0c;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  #footer_content{
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content{
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
  }
}
