@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:ital,wght@1,600&display=swap');


/* ---===<Standard>===--- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    min-height: 100vh;
}

/* ---===<Header>===--- */

.container-header{
    /* position: fixed; */
    z-index: 1;
    width: 100%;
    box-shadow: 10px 10px 20px rgb(74, 74, 74);
}

.cabecalho{
    width: 100%;
    height: 19vh;
    background-color: #20cdff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho .container-cabecalho{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;  
    width: 100%;  
}

.cabecalho .container-cabecalho .icon-logo-card img
{
    width: 200px;
}
.cadastro{
    display: flex;
    align-items: center;
}

.cadastro a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

.cadastro a:hover{
    color: yellow;
    text-decoration: none;
}

.cadastro span{
    padding: 15px;
    color: white;
    font-weight: bold;
}


.cabecalho .container-cabecalho .menu-pesquisa{
    width: 75vh;
    background-color:#0e9fc7;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho .container-cabecalho .menu-pesquisa input{
    padding: 5px;
    width: 86%;
    border: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cabecalho .container-cabecalho .menu-pesquisa i{
    padding: 5px;
    padding-right: 25px;
}

.cabecalho .link-menu{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho .link-menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.cabecalho .link-menu a:hover{
    color: yellow;
}

.navMenu{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    font-weight: 400;
}

.categorias-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.car-fav{
    padding: 10px;
}

.car-fav i{
    padding: 10px;
    width: 40px;
    
}

.navMenu .cat-links a{
    padding: 10px;
    height: 100%;
    color: black;
    transition: all 200ms ease-in-out;
}

.navMenu .cat-links a:hover{
    background-color:   rgb(229, 229, 229);
    text-decoration: none;
}

/* ---===<Cards dos Mais Vendidos>===--- */
.titulo-cards{
    margin-top: 5%;
    display: flex; 
    justify-content: center; 
    color: rgb(8, 8, 8)
}
.author-title{
    color: #7f37c9;
    font-size: 0.8vw;
}
.card-body .product-title, .author-title{
    text-align: center;
    letter-spacing: 1px;
}

.container-fluid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
    color: rgb(209, 209, 5);
  }
  
  .star {
    margin: 0 2px; /* Espaçamento entre as estrelas */
  }

  .styled-button {
    margin-top: 5%;
    background-color: #69b8e3;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .styled-button:hover {
    background-color: #489dd2;
    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
.product-price{
    background-color: #78d2e9;
    border-radius: 0px 4px 0px 4px;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
    padding: 0px 0.25rem;
    color: #fff;
    transition: all 0.5 ease;
}
.product-price [type="button"]:hover{
    background: #c1ac9c;
}

/* ---===<Recomendações da Semana>===--- */

.recomendacoes-semana{
    text-align: center;
    font-size: 2em;
}
.recomendacao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-recomendacoes{
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1vh;
    margin-bottom: 5%;
    
    
}
.container-recomendacoes img{
    height: 700px;
    width: 400px;
}

.texto{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items:center;
    margin: 15%;
    flex-direction: column;
    margin-top: 1%;
    text-align: justify;
    text-indent: 15px;
    margin-right: 3%;
}
.texto .titulo{
    color: #5b98f5;
    padding: 2%;
}

.container-recomendacoes2{
    
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1vh;
    margin-bottom: 5%;
    
}

.container-recomendacoes2 img{
    height: 700px;
    width: 400px;
}

.texto2{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items:center;
    margin: 15%;
    flex-direction: column;
    margin-top: 1%;
    text-align: justify;
    text-indent: 15px;
    margin-left: 3%;
}

.texto2 .titulo{
    color: #5b98f5;
    padding: 2%;
}

/* ---===<Avaliações dos clientes>===--- */
.titulo-avaliacoes{
    text-align: center;
    font-size: 0.8em;
}
.cards-avaliacoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 980px;
    margin: 0 auto;
    grid-gap: 40px;
    color: #fff;
}
.card-avaliacao h3{
    color: black;
}
.card-avaliacao{
    background-color: rgb(38, 151, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;

    box-shadow: 6px 6px 10px rgba(9, 58, 29, 0.171);
}
.card-avaliacao h3{
    font-family: Rubik;
    margin-bottom: 5px;
}
.card-avaliacao p{
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
}
.card-avaliacao .user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.card-avaliacao .star-user{
    width: 20px;
}

/* ---===<Footer>===--- */

footer{
    font-family: 'Inter', sans-serif;
    width: 100%;
    letter-spacing: 1px;
    color: #f5f5f5;
    margin-top: 5%;
}

#footer_content{
    background-color: #171717;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h2{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#twitter{
    background-color: #3E8AFF;
}

.footer-link{
    text-decoration: none;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}
#footer_social_media .footer-link i{
    font-size: 1.2rem;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list .footer-link{
    color: #a8a29e;
    transition: all 0.4s;
}
.footer-list .footer-link:hover{
    color: #7f37c9;
}
#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#footer_subscribe p{
    color: #a8a29e;
}

#input_group{
    display: flex;
    align-items: center;
    background-color: 4px;
    border-radius: 4px;
}
#input_group input{
    padding: 0.75rem;
    width: 100%;
}
#input_group button{
    background-color: #7f37c9;
    border: none;
    color: #f5f5f5;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group:hover{
    opacity: 0.8s;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #0e0c0c;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}
@media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}






.subCard .subCard .subCardImage{
    padding: 3px;
    background: rgb(255, 255, 255);
}

.subCard .subCard .subCardImage img{
   height: 100%;
   width: 100%;
   object-fit: cover;

}

.subCard {
   background: rgb(230, 230, 230);
   border-radius: 15px;
   border: #0e0c0c;
   width: 200px;
}


.subCard .subCard-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

.subCard .book-author {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10px;
   color: rgb(0, 0, 0);
}

.subCard .feedback {
   display: flex;
   align-items:center;
   margin-top: 5px;
}

.subCard .like {
   font-size: 18px;
   margin: 0 2px;
   color: yellow;
}

.subCard .button {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 10px;
}

.subCard .button button{
   background: rgb(255, 255, 255);
   outline: none;
   border: none;
   padding: 8px 10px;
   border-radius: 12px;
   font-size: 12px;
   font-weight: 600;
   transition: all 0.3s ease;
}

.book-author .book {
   font-size: 20px;
   font-weight: 600;
}

.book-author .author {
   font-size: 15px;
   font-weight: 500;
}

.button button:hover {
   background: rgb(32, 186, 4);
}








.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.formulario {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(241, 240, 240);
}

.formImg img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.formTxt {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    height: 475px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.formulario .formTxt h2 {
    display: flex;
    justify-content: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(97, 97, 97);
}

.formTxt #lenviar {
    margin-top: 10px;
    border-radius: 17px;
    padding: 9px;
    border-color: rgb(224, 224, 224);
    border: rgb(155, 155, 155);
    color: rgb(0, 0, 0);
    background: white;
}

.formTxt #lenviar:hover {
    transition: 0.35s;
    border-color: #20cdff;
    background-color: #20cdff;
    background: #20cdff;
    color: rgb(255, 255, 255);
}

.formTxt #lnome {
    border-radius: 17px;
    border-color: rgb(184, 184, 184);
    padding: 8px;
}

.formTxt #lemail {
    border-radius: 17px;
    border-color: rgb(184, 184, 184);
    padding: 8px;
}

.formTxt #lcomentario {
    border-radius: 17px;
    border-color: rgb(184, 184, 184);
    padding: 8px;
}

.formTxt .socialMediaIcons {
    display: flex;
    align-content: flex-end;
}

.socialMediaIcons {
    display: flex;
    justify-content: space-evenly;
}
.contaIcon{
    width: 30px;
}

.card {
    padding: 5px;
    padding-top: 10px;
}
/* ESTILIZAÇÃO SIMPLES DO CARRINHO */
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}

.cart-sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.cart-total strong {
    font-weight: bold;
}

.cart-close-button {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-close-button:hover {
    background-color: #222;
}


/* ESSA ESTILIZAÇÃO ACIMA É DA BARRA ONDE ESTÁ O CARRINHO, POR FAVOR FAZ ALGO UM POUCO MAIS BONITO :)))) */
.card-img-top {
    border: 2px solid;
    border-color: #d6d6d6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    height: 200px;
  }

.btn-card {
    border-style: none;
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    padding: 5px;
}

.btn-card:hover {
    transition: 0.3s;
    background-color: #20cdff;
    color: white;
}